<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- navigation bar -->
    <nav class="nav">
        <div class="logo">
            <a href="index.html" id="logo"><img src="static/css/img/anjani-logo.jpg" alt="logo"></a>
        </div>
        <!-- bars -->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fa fa-bars"></i></label>


        <ul>
            <li><a href="index.html" class="list">Home</a></li>
            <li><a href="about.html" class="list">About</a></li>
            <li><a href="service.html" class="list">Services</a></li>
            <li><a href="contact.html" class="list">Contact</a></li>
            <li><a href="feedback.html" class="list">Feedback</a></li>
            <li id="li-btn"><a href="bookingpage.html" class="list">Book</a></li>
        </ul>
        <div class="sign-in">
            <a href="bookingpage.html" class="sign">Book</a>
        </div>
    </nav>

    <!-- About Us -->
    <div class="about">
        <h2>About Us</h2>

        <div class="who">
            <div class="who-img">

                <img src="static/css/img/who-we-are.jpg">

            </div>
            <div class="who-txt">
                <h3>Who we are?</h3>
                <p>We are India's leading bike service provider just search best two wheeler service near
                    me,spread
                    into a number of cities and states providing you with 500+ best quality services for your
                    bikes
                    and scooty like repair,servicing,maintenance,inspection and a lot more.
                <br><br>
                we are always concerned about the rebirth of your Bike or scooty,using all the best quality
                    products and vehicle servicing equipment thata are available at our service centers.To find
                    us
                    search best bike service near me.
                </p>
            </div>
        </div>

        <div class="stand">
            <div class="stand-img">
                <img src="static/css/img/stand_img.jpg">
            </div>
            <div class="stand-txt">

                <h3>What makes Us stand out?</h3>
                <p>We at Bikefixup povide the best two wheeler service think that your vehicle is more than a
                    machine, and we treat it as such.Our premium quality services at cost-effective pricing, the
                    transparency we provide to our customers, our genuineness, and your faith in us are what set
                    us apart from the competition!
                <br><br>
                Our purpose is to improve the industry from both sides.By offering clients with a pleasant,
                    cost-effective, speedy, and comfortable service, repair, and maintenance experience..As a
                    result, we consider it an honour to be your vehicle’s lone buddy, someone you can rely on at
                    the end of the day.
                </p>
            </div>
        </div>

        <div class="team">
            <div class="team-img">
                <img src="https://mlplrcn8w5kp.i.optimole.com/cb:2icD.131f1/w:auto/h:auto/q:mauto/f:avif/https://www.businessinsuranceusa.com/wp-content/uploads/2021/11/insurance-motorcycle-repair-shop-1.jpg">
            </div>
            <div class="team-txt">
                <h3>Our team</h3>
                <p>We are India's leading bike service provider,spread into a number of cities and states
                    providing you
                    with
                    500+ best quality services for your bikes like,repair,servicing,maintenance,inspection and a
                    lot
                    more.
                <br><br>
                Our team is dedicated to enthraal you and make you trust us with our top-notch service. We
                    promise
                    you a
                    lifelong delightful experience with us
                </p>
            </div>
        </div>

        <div>
            <h3>Our Mission</h3>
            <p>Our mission is to provide the best services to millions of Indians in the best feasible and affordable
            manner. We aim to empower and authorize thousands of our service professionals and make them self-sustaining
            and for the same purpose, we provide related training to all our professionals before they start serving our
            valued customers.

            We facilitate you with the technicians or service experts closest to your residence and are available at
            your requested time slot.</p>
        </div>
    </div>

    <!-- faq -->

    <div class="faq-con">
        <div class="faq">
            <h2>FAQ</h2>
        </div>
        <div class="question">
            <h3>Can I reschedule or cancel my appointment? <i class="fa-solid fa-angle-down"></i></h3>

            <p>Most online booking systems allow you to reschedule or cancel your appointment. However, there may be cancellation fees or specific timeframes within which changes are allowed. Check the terms and conditions of the service provider.</p>
        </div>
        <div class="question">
            <h3>What if my bike needs additional repairs during the service? <i class="fa-solid fa-angle-down"></i></h3>

            <p>If your bike needs additional repairs or maintenance beyond what was initially scheduled, the service center will typically contact you to discuss the required work and obtain your approval before proceeding.</p>
        </div>
        <div class="question">
            <h3>How long will the service take? <i class="fa-solid fa-angle-down"></i></h3>

            <p>The duration of the service depends on the type of service and the specific tasks involved. The service provider should be able to provide you with an estimated completion time when you book your appointment.</p>
        </div>
        <div class="question">
            <h3>What should I do before taking my bike for service? <i class="fa-solid fa-angle-down"></i></h3>

            <p>Before your service appointment, it's a good idea to clean your bike, remove any personal items, and ensure that you have all the necessary documents, such as your bike's registration and insurance details. </p>
        </div>
        <div class="question">
            <h3>What if I face issues with the service quality? <i class="fa-solid fa-angle-down"></i></h3>

            <p>If you are not satisfied with the service quality, contact the service center or the platform through which you booked the service. They should address your concerns and work to resolve any issues.</p>
        </div>


    </div>
    <script src="static/faq.js"></script>



    <!-- floating button -->
    <div class="fl-btn">
        <a href="bookingpage.html" class="fl-btn1">Book</a>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="links">
            <h3>Useful Links</h3>
            <a href="index.html">Home</a>
            <a href="service.html">Explore Services</a>
            <a href="feedback.html">FeedBack</a>
            <a href="about.html">About Us</a>
            <a href="bookingpage.html">Book Now</a>
        </div>
        <div class="policy">
            <h3>Policy</h3>
            <a href="cancellation.html">Cancellation</a>
            <a href="faq.html">FAQs</a>
            <a href="termsandconditions.html">Terms and Conditions</a>
            <a href="privacypolicy.html">Privacy Policy</a>
        </div>
        <div class="contact">
            <div>
            <h3>Connect With Us</h3>
            <a href="https://web.whatsapp.com/" class="fa fa-whatsapp" target="_blank"></a>
            <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/i/flow/login" class="fa fa-twitter" target="_blank"></a><a
                href="https://www.linkedin.com/" class="fa fa-linkedin" target="_blank"></a>
            </div>
            <div class="copyr">
                <a href="#" class="fa fa-copyright"> copy rights</a>
            </div>
        </div>
    </div>
</body>

</html>