<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedBack</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feed.css') }}">
    <style>
        .pra1{
            padding: 0px 10px;
        }
    </style>
</head>

<body>
    <!-- navigation bar -->
    <nav class="nav">
        <div class="logo">
            <a href="index.html" id="logo"><img src="static/css/img/anjani-logo.jpg" alt="logo"></a>
        </div>
        <!-- bars -->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fa fa-bars"></i></label>


        <ul>
            <li><a href="index.html" class="list">Home</a></li>
            <li><a href="about.html" class="list">About</a></li>
            <li><a href="service.html" class="list">Services</a></li>
            <li><a href="contact.html" class="list">Contact</a></li>
            <li><a href="feedback.html" class="list">Feedback</a></li>
            <li id="li-btn"><a href="bookingpage.html" class="list">Book</a></li>
        </ul>
        <div class="sign-in">
            <a href="bookingpage.html" class="sign">Book</a>
        </div>
    </nav>

    <!-- Feedback -->
    <div class="pra1">
    <form action="feedback" class="main" method="POST">
        
        <div class="f">
            <h1>FeedBack</h1>
            <p> Name:
                <input type="text" value="" id="name" placeholder="Full Name" name="name" required>
            </p>
            <p> Email:
                <input type="email" value="" id="email" placeholder="example@gmail.com" name="email" required>
            </p>
            <p> FeedBack:
                <textarea type="textarea" value="feedback" id="feedback" cols="30" rows="5" name="feed" required></textarea>
            </p>

            <div><button type="submit" value="submit" id="submit">Submit</button></div>
        </div>
    </form>
    </div>
    <!-- floating button -->
    <div class="fl-btn">
        <a href="bookingpage.html" class="fl-btn1">Book</a>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="links">
            <h3>Useful Links</h3>
            <a href="index.html">Home</a>
            <a href="service.html">Explore Services</a>
            <a href="feedback.html">FeedBack</a>
            <a href="about.html">About Us</a>
            <a href="bookingpage.html">Book Now</a>
        </div>
        <div class="policy">
            <h3>Policy</h3>
            <a href="cancellation.html">Cancellation</a>
            <a href="faq.html">FAQs</a>
            <a href="termsandconditions.html">Terms and Conditions</a>
            <a href="privacypolicy.html">Privacy Policy</a>
        </div>
        <div class="contact">
            <div>
            <h3>Connect With Us</h3>
            <a href="https://web.whatsapp.com/" class="fa fa-whatsapp" target="_blank"></a>
            <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/i/flow/login" class="fa fa-twitter" target="_blank"></a><a
            href="https://www.linkedin.com/" class="fa fa-linkedin" target="_blank"></a>
            </div>
            <div class="copyr">
                 <a href="#" class="fa fa-copyright"> copy rights</a>
            </div>
        </div>
    </div>
</body>