<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic services</title>
    <link rel="stylesheet" href="index1.css">

    <!-- font link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- font link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/service.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    
</head>

<body>
    <!-- navigation bar -->
    <nav class="nav">
        <div class="logo">
            <a href="index.html" id="logo"><img src="static/css/img/anjani-logo.jpg" alt="logo"></a>
        </div>
        <!-- bars -->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fa fa-bars"></i></label>

        
        <ul>
            <li><a href="index.html" class="list">Home</a></li>
            <li><a href="about.html" class="list">About</a></li>
            <li><a href="service.html" class="list">Services</a></li>
            <li><a href="contact.html" class="list">Contact</a></li>
            <li><a href="feedback.html" class="list">Feedback</a></li>
            <li id="li-btn"><a href="bookingpage.html" class="list">Book</a></li>
        </ul>
        <div class="sign-in">
            <a href="bookingpage.html" class="sign">Book</a>
        </div>
    </nav>

    <!-- slidershow -->
    <div class="slider-con">
        <div class="sliders" id="slide1">
            <video src="https://assets.mixkit.co/videos/preview/mixkit-professional-mechanic-fixing-a-motorcycle-41933-large.mp4" autoplay loop muted></video>
            <div class="text">Bike repair experts </div>
        </div>
        <div class="sliders" id="slide2">
            <video src="https://assets.mixkit.co/videos/preview/mixkit-many-motorcycles-parked-in-a-row-in-a-garage-41927-large.mp4" autoplay loop muted></video>
            <div class="text">Our passion is your ride </div>
        </div>
        <div class="sliders" id="slide3">
            <video src="https://assets.mixkit.co/videos/preview/mixkit-mechanic-pouring-oil-into-an-engine-41937-large.mp4" autoplay loop muted></video>
            <div class="text">Fixing bikes is an art and we are the artist's</div>
        </div>
        <div class="sliders" id="slide4">
            <video src="https://assets.mixkit.co/videos/preview/mixkit-mechanic-repairing-a-motorcycle-engine-41928-large.mp4" autoplay loop muted></video>
            <div class="text">Top-tier bike service</div>
        </div>
    </div>

<!-- Services -->
<h2>Services</h2>
<div class="service">
    <div class="serve1">
        <span class="guide">
            <img src="static/css/img/pe3-removebg-preview.png" alt="Periodic">
            <p>Periodic Maintenance</p>
        </span>
        <span class="guide">
            <img src="static/css/img/pe5-removebg-preview.png" alt="running">
            <p>Running Repairs</p>
        </span>
        <span class="guide">
            <img src="static/css/img/pe4-removebg-preview.png" alt="inspect">
            <p>General Inspection</p>
        </span>
    </div>
</div>

<!-- contact details -->
<div class="logos">
    <p>Contact Us</p>
    
</div>

<div class="contacts">
    <div class="call">
        <a href="tel:+91 9949889304"><i class="fa-solid fa-phone fa-shake"></i><i class="fa-solid fa-phone"
                id="call"></i> : +91 9949889304</a>
    </div>
    <div class="call">
        <a href="mailto:praveenmuppidy@gmail.com"><i class="fa-regular fa-envelope-open"></i><i
                class="fa-regular fa-envelope " id="call"></i> : praveenmuppidy@gmail.com</a>
    </div>

</div>


    <!-- faq -->

    <div class="faq-con">
        <div class="faq">
            <h2>FAQ</h2>
        </div>
        <div class="question">
            <h3>Can I reschedule or cancel my appointment? <i class="fa-solid fa-angle-down"></i></h3>

            <p>Most online booking systems allow you to reschedule or cancel your appointment. However, there may be cancellation fees or specific timeframes within which changes are allowed. Check the terms and conditions of the service provider.</p>
        </div>
        <div class="question">
            <h3>What if my bike needs additional repairs during the service? <i class="fa-solid fa-angle-down"></i></h3>

            <p>If your bike needs additional repairs or maintenance beyond what was initially scheduled, the service center will typically contact you to discuss the required work and obtain your approval before proceeding.</p>
        </div>
        <div class="question">
            <h3>How long will the service take? <i class="fa-solid fa-angle-down"></i></h3>

            <p>The duration of the service depends on the type of service and the specific tasks involved. The service provider should be able to provide you with an estimated completion time when you book your appointment.</p>
        </div>
        <div class="question">
            <h3>What should I do before taking my bike for service? <i class="fa-solid fa-angle-down"></i></h3>

            <p>Before your service appointment, it's a good idea to clean your bike, remove any personal items, and ensure that you have all the necessary documents, such as your bike's registration and insurance details.</p>
        </div>
        <div class="question">
            <h3>What if I face issues with the service quality? <i class="fa-solid fa-angle-down"></i></h3>

            <p>If you are not satisfied with the service quality, contact the service center or the platform through which you booked the service. They should address your concerns and work to resolve any issues.</p>
        </div>


    </div>
    <script src="static/faq.js"></script>


        <!-- floating button -->
    <div class="fl-btn">
        <a href="bookingpage.html" class="fl-btn1">Book</a>
    </div>    

    <!-- Footer -->
    <div class="footer">
        <div class="links">
            <h3>Useful Links</h3>
            <a href="index.html">Home</a>
            <a href="service.html">Explore Services</a>
            <a href="feedback.html">FeedBack</a>
            <a href="about.html">About Us</a>
            <a href="bookingpage.html">Book Now</a>
        </div>
        <div class="policy">
            <h3>Policy</h3>
            <a href="cancellation.html">Cancellation</a>
            <a href="faq.html">FAQs</a>
            <a href="termsandconditions.html">Terms and Conditions</a>
            <a href="privacypolicy.html">Privacy Policy</a>
        </div>
        <div class="contact">
        <div>
            <h3>Connect With Us</h3>
            <a href="https://web.whatsapp.com/" class="fa fa-whatsapp" target="_blank"></a>
            <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/i/flow/login" class="fa fa-twitter" target="_blank"></a><a
            href="https://www.linkedin.com/" class="fa fa-linkedin" target="_blank"></a>
        </div>
        <div class="copyr">
            <a href="#" class="fa fa-copyright"> copy rights</a>
        </div>
        </div>
    </div>
</body>

</html>