<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/service.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- navigation bar -->
    <nav class="nav">
        <div class="logo">
            <a href="index.html" id="logo"><img src="static/css/img/anjani-logo.jpg" alt="logo"></a>
        </div>
        <!-- bars -->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fa fa-bars"></i></label>
        
        <ul>
            <li><a href="index.html" class="list">Home</a></li>
            <li><a href="about.html" class="list">About</a></li>
            <li><a href="service.html" class="list">Services</a></li>
            <li><a href="contact.html" class="list">Contact</a></li>
            <li><a href="feedback.html" class="list">Feedback</a></li>
            <li id="li-btn"><a href="bookingpage.html" class="list" >Book</a></li>
        </ul>
        <div class="sign-in">
            <a href="bookingpage.html" class="sign">Book</a>
        </div>
    </nav>

    <!-- Services -->
    <h2>Services</h2>
    <div class="service">
        <div class="serve1">
            <span class="guide">
                <img src="static/css/img/pe3-removebg-preview.png" alt="Periodic">
                <p>Periodic Maintenance</p>
            </span>
            <span class="guide">
                <img src="static/css/img/pe5-removebg-preview.png" alt="running">
                <p>Running Repairs</p>
            </span>
            <span class="guide">
                <img src="static/css/img/pe4-removebg-preview.png" alt="inspect">
                <p>General Inspection</p>
            </span>
        </div>

        <div class="serve2">
            <a href="bookingpage.html" class="guide2">
                <p>Full Engine</p>
                <img src="static/css/img/full-eng-removebg-preview.png" alt="engine">
            </a>
            <a href="bookingpage.html" class="guide2">
                <p>Half Engine</p>
                <img src="static/css/img/half-eng-removebg-preview.png" alt="engine">
            </a>
            <a href="bookingpage.html" class="guide2">
                <p>General Service</p>
                <img src="static/css/img/pe7-removebg-preview.png" alt="carbo">
            </a>
            <a href="bookingpage.html" class="guide2">
                <p>Engine Oil</p>
                <img src="static/css/img/eng-oil-removebg-preview.png" alt="oil">
            </a>
            <a href="bookingpage.html" class="guide2">
                <p>Break sheo</p>
                <img src="https://media.istockphoto.com/id/1367390395/photo/drum-brake.jpg?s=612x612&w=0&k=20&c=vfeQ4oii0iiY2rHAqy4AZNRukrPYRyHWsQ7XxPcHghQ=" alt="Break">
            </a>
            <a href="bookingpage.html" class="guide2">
                <p>Clutch Plates</p>
                <img src="static/css/img/clutch-removebg-preview.png" alt="Clutch">
            </a>

        </div>
        <div class="names">
            <ol>
                <li>Engine</li>
                <li>clutch cables replacement</li>
                <li>Brake shoe replacement</li>
                <li>carburator clean</li>
                <li>Fliter clean</li>
                <li>Engine oil change</li>
                <li>shock absorber repair</li>
                <li>chain spocket</li>
                <li>Fork fitting</li>
                <li>Head cleaning,overolling</li>
                <li>Cam chain replacement</li>
                <li>Wiring kit replacement</li>
                <li>Engine overall,fitting</li>
                <li>Borekit replacement</li>
                <li>Self Motor work</li>
                <li>Shock oil seal</li>
                <li>oil replacement</li>
            </ol>
        </div>


    </div>

        <!-- floating button -->
     <div class="fl-btn">
        <a href="bookingpage.html" class="fl-btn1">Book</a>
    </div>  

    <!-- footer -->
    <div class="footer">
        <div class="links">
            <h3>Useful Links</h3>
            <a href="index.html">Home</a>
            <a href="service.html">Explore Services</a>
            <a href="feedback.html">FeedBack</a>
            <a href="about.html">About Us</a>
            <a href="bookingpage.html">Book Now</a>
        </div>
        <div class="policy">
            <h3>Policy</h3>
            <a href="cancellation.html">Cancellation</a>
            <a href="faq.html">FAQs</a>
            <a href="termsandconditions.html">Terms and Conditions</a>
            <a href="privacypolicy.html">Privacy Policy</a>
        </div>
        <div class="contact">
        <div>
            <h3>Connect With Us</h3>
            <a href="https://web.whatsapp.com/" class="fa fa-whatsapp" target="_blank"></a>
            <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/i/flow/login" class="fa fa-twitter" target="_blank"></a><a
            href="https://www.linkedin.com/" class="fa fa-linkedin" target="_blank"></a>
        </div>
        <div class="copyr">
            <a href="#" class="fa fa-copyright"> copy rights</a>
        </div>
        </div>
    </div>
</body>

</html>